<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <%= for {display, url} <- Enum.slice(@breadcrumbs, 0, length(@breadcrumbs) - 1) do %>
      <li>
        <%= live_link display, to: url %>
      </li>
    <% end %>
    <% {display, url} = List.last(@breadcrumbs) %>
    <li class="is-active">
      <%= live_link display, [{:to, url}, {"aria-current", "page"}] %>
    </li>
  </ul>
</nav>