<%= LayoutView.render_layout "full_width.html", assigns do %>
<section class="hero">
  <div class="hero-body">
  </div>
</section>
<section class="container content">
  <p>What is up?</p>
  <%= render(PartsView, "events_episodes.html",
        events: @events, episodes: @episodes) %>
</section>
<% end %>