<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Music lovers in detroit">
    <meta name="author" content="Impulse Detroit">
    <title>Impulse Detroit</title>
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/slate/bulmaswatch.min.css">
    <link rel="icon" type="image/gif" href="/images/favicon.gif" />
  </head>
  <body>
    <header>
      <section>
        <nav role="navigation" class="navbar is-primary" aria-label="main navigation">
          <%= live_link class: "navbar-brand",
                to: Routes.live_path(Endpoint, HomeLive) do %>
            <span class="idi">I</span>mpulse Detroit
          <% end %>
          <div class="navbar-start">
            <%= live_link "Shows",
              class: "navbar-item",
              to: Routes.live_path(Endpoint, ShowsLive) %>
          </ul>
        </nav>
      </section>
    </header>
    <section class="container section content" role="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </section>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
