<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Music lovers in detroit">
    <meta name="author" content="Impulse Detroit">
    <title>Impulse Detroit</title>
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="//vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/slate/bulmaswatch.min.css">
    <link rel="icon" type="image/gif" href="/images/favicon.gif" />
  </head>
  <body>
    <%= render("accoutrements/header.html", assigns) %>

    <%= Map.get(assigns, :inner_layout)
          || render(@view_module, @view_template, assigns) %>

    <%= render("accoutrements/footer.html", assigns) %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
