/* This file is for your main application css. */

@import "bulma/bulma.sass";

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
// @import "../node_modules/@fortawesome/fontawesome-free/scss/brands";

@font-face { font-family: desonanz; src: url(/ttf/desonanz.ttf); }

section.hero div.hero-body {
  background-size: cover;
  background-position: center center;
  // clear: both;
  height: 50vh;
  // border-bottom: 3px solid $primary-color;
  // background-image: url(https://photos.impulsedetroit.net/action.php?id=182&part=e);
  background-image: url(https://photos.impulsedetroit.net/i/upload/2017/02/17/20170217190201-04823ba2-xl.jpg);
}

.idi { text-transform: lowercase; }
.navbar-brand { font-family: desonanz; font-size: x-large; color: #f63; }

.episode-list {
  h3 { float: left; }

  .content { clear: both; }

  .showname {
    text-align: right;
    padding: 0 .5rem;
    color: #ccc;
    font-size: 70%;
    line-height: 1.2em;
    float: right;
  }
  .showname p {
    font-size: 120%;
    font-weight: 700;
    margin: 0;
  }

  .button { width: 40%; }
}